<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
  <meta charset="UTF-8">
  <title>WhoIsNext @ MonkSoftware</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/layout.css" rel="stylesheet">

</head>
<body ng-controller="AppCtrl" style="padding-top: 60px">
  <script src="/socket.io/socket.io.js"></script>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{{ title }}</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
	   <div class="row-fluid" style="width: 100%; cursor: pointer;">
	        <div class="span2" style="display:inline-block; " ng-click="addVote('gennaro')">
			<img src="assets/images/gennaro.JPG" width="200px">
		</div>
	       	<div class="span2" style="display:inline-block; " ng-click="addVote('dario')">
			<img src="assets/images/dario.JPG" width="200px">
		</div>
	       	<div class="span2" style="display:inline-block; " ng-click="addVote('loi')">
			<img src="assets/images/loi.PNG" width="200px">
		</div>
		<div class="span2" style="display:inline-block; " ng-click="addVote('cincis')">
			<img src="assets/images/cincis.JPG" width="200px">
		</div>
           </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
		<div id="chart"> </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="vendor/js/angular.js"></script>
    <script src="http://cdn.kendostatic.com/2013.3.1119/js/kendo.all.min.js"></script>
    <script src="vendor/js/angular-kendo.js"></script>

    <script src="app/app.js"></script>
    <script src="vendor/js/ui-bootstrap-tpls-0.9.0.min.js"></script>

</body>
</html>
